.new-task-container {
    width: 100%;
    /* Pełna szerokość kontenera */
    display: flex;
    align-items: center;
    gap: 15px;
    /* Odstęp między polami */
    margin-top: 15px;
}

.new-task-input {
    flex-grow: 1;
    /* Automatyczne dopasowanie szerokości */
    width: 50vw !important;
    /* Pole zajmuje połowę ekranu */
    min-width: 500px !important;
    /* Minimalna szerokość */
    max-width: 700px !important;
    /* Maksymalna szerokość */
}

.new-task-input textarea {
    width: 100% !important;
    min-height: 50px;
    font-size: 14px;
}

.new-task-container button {
    height: 48px;
    /* Dostosowanie wysokości do pola */
    white-space: nowrap;
    /* Zapobiega zawijaniu tekstu */
}