<mat-nav-list>
    <mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </mat-list-item>

    <mat-list-item routerLink="/goals" routerLinkActive="active">
        <mat-icon>flag</mat-icon>
        <span>Cele</span>
    </mat-list-item>

    <mat-list-item routerLink="/custom-goal" routerLinkActive="active">
        <mat-icon>assignment</mat-icon>
        <span>Dodaj swój cel</span>
    </mat-list-item>

    <mat-list-item routerLink="/tasks" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Podsumowanie</span>
    </mat-list-item>
</mat-nav-list>