@use '@angular/material' as mat;

*,
*::after,
*::before {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue';
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Inter,
      density: 0,
    )
  );
}
