@use '@angular/material' as mat;

*,
*::after,
*::before {
  box-sizing: border-box;
  border-style: none;
}

body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue';
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Inter,
      density: 0,
    )
  );
}
