/* Główna tabela */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Nagłówki */
.mat-header-row {
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    height: 50px;
}

/* Komórki tabeli */
.mat-cell,
.mat-header-cell {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: auto;
    padding: 8px 12px;
    font-size: 14px;
}

/* Dynamiczne szerokości kolumn */
.mat-column-goal {
    width: 250px;
}

.mat-column-metricName {
    width: 250px;
}

.mat-column-metricDescription {
    width: 350px;
}

.mat-column-tasks {
    width: 400px;
}

.mat-column-level,
.mat-column-department {
    width: 120px;
    text-align: center;
}

/* Pole tekstowe (textarea) */
textarea {
    width: 100%;
    min-height: 50px;
    resize: both;
    /* Można rozszerzać w pionie i poziomie */
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    font-size: 14px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Wyróżnienie zaznaczonego wiersza */
.selected-row {
    background-color: #e3f2fd;
    transition: background-color 0.2s;
}

/* Styl dla przycisków */
.custom-button {
    background-color: #f9f9f9;
    color: #1a73e8;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover {
    background-color: #e8f0fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}